.header-block {
    background: rgb(112,0,31);
    background: linear-gradient(90deg, rgba(112,0,31,1) 0%, rgba(21,105,122,1) 100%);
    color: #ffffff;

    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;    
    /*min-height: 120px;*/
}

.header-block a {
    color: #ffffff;
    text-decoration: none;
}

.header-title {
    margin-top: 20px;
    /*padding: 20px;    */
}

.header-links {
    /*text-align: center;*/
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-email {
    margin-bottom: 20px;
}

.headshot {
    width: 200px;
    border-radius: 25px;
}

.pix {
    width: 200px;
}

.audio{
    padding: 20px;
}

.imgContainer{
    float:left;
}

.body-text {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: justify;
}

.paragraph {
    margin-bottom: 1em;
}

.reference-header h4 {
    margin-top: 10px;
}

.reference {
    margin-bottom: 20px;
}

.paragraph a, .reference a {
    color: #425469;
    font-weight: bold;
}