.header-block {
    background: linear-gradient(90deg, #3E3E3E 0%, #232323 100%);
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;    
}

.header-block a {
    color: #ffffff;
    text-decoration: none;
}

.header-title {
    margin-top: 20px;
}

.header-links {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-email {
    margin-bottom: 20px;
}

.headshot {
    width: 200px;
    border-radius: 10px;
}

.pix {
    width: 200px;
}

.audio{
    padding: 20px;
}

audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: #B9B9B9;
     color: #000;
     }

.imgContainer{
    float:left;
}

.body-text {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: justify;
}

.paragraph {
    margin-bottom: 1em;
}

.reference-header h4 {
    margin-top: 10px;
}

.reference {
    margin-bottom: 20px;
}

.paragraph a, .reference a {
    color: #425469;
    font-weight: bold;
}

footer {
    position: relative;
    height: 50px;
    width: 100%;
    background: linear-gradient(90deg, #3E3E3E 0%, #232323 100%);
}

p.copyright {
    position: absolute;
    width: 100%;
    color: #fff;
    line-height: 25px;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
}